<div>
    <h2>IT Managed Services</h2>
        <p>
            MS Infocomm IT-Managed Services offer range of Services to Enterprise Organization: Oracle E-business Suite ERP post 
            implementation support Hardware: Servers, PC, Tablets, Mobile phones, PDA, Notepad. Software - Operating systems-Application 
            Software, Middleware, Database
        </p>
    <h2>Operating Systems</h2>
        <p>
            MS Infocomm in IT-Managed services takes as customer needed period temporary ownership to give 100% uptime availability 
            of: Operating systems of Servers, PC's, Mobile, Notepad, PDA, Handhald Devices:
            <ul>
                <li>Linux OS- Servers and PC</li>
                <li>Windows OS- Servers, PC, Mobile</li>
                <li>Mac OS- PC, laptop</li>
                <li>iOS - Mobiles</li>
                <li>Andriod OS -PC & Mobile</li>
            </ul>
            Every 3rd person in the corporate uses smarphone OS technology to Access,upload corporate information to run the businesses. MS Infocomm pro-active, and ontime maintenance services will make the avaliblity of this Mobile smartphones, Server and Desktop OS wherever they carry is updated and trouble free to use.
        </p>
    <h2>Software Application</h2>
        <p>
            ERP, Accounting, CRM, SCM,Finance, HR, Customized software Application on Java, Oracle, Microsoft Technology. 
            MS Infocomm Application software Managed Services offers consulting and pro-active, maintnance of your Software 
            applications on Java, Oracle, Microsoft platform, we have seasoned and highly experienced domain expertise cosnultants to 
            make avaliblity of your software application all the time.
        </p>
    <h4>Database: Oracle, Sybase, Post-gre-SQL, MySQL</h4>
        <p>
            MS Infocomm Database Managed services for Database will keep your Database Healthy all the time, and will updated with latest patchs and versions avaliable fromPrinicpals vendors .Our DBA's will montior and keep the constant watch on the Data flow.
        </p>

</div>