
<div class="image"></div>
    <div class="intro">
        <h2 > <span>Microsoft Dynamics ERP</span> </h2>
    </div>

<div class="explanation">
            <p>
                MOSERP Technologies India Pvt.Ltd without any hesitation can claim having one of the best team among global Microsoft Dynamics 
                ERP service providers. From beginning days, we are working with many Small and Mid Organization providing ERP solutions on 
                Microsoft platform Viz., , customized ERP on Visual Basic with SQL server Database in 1995 to 2002. And 2002 onwards upgrade 
                same solutions to .net platform.

                In 2005, Microsoft announced it will start offering Microsoft Dynamics End to End ERP to small and mid Organization and to 
                Enterprise customers. Based on our core strength and experienced we started to providing Microsoft Dynamics ERP solutions to 
                small and mid organization and limited our Microsoft Dynamics services to Small and mid level organization.

                As mentioned, our core strength is highly experienced Microsoft Dynamics Technical and functional Consultants and 
                MOSERP Technologies India Pvt Ltd lower operating cost. This advantage transferred to the customer and made benefit to the 
                customers in providing high end Microsoft Dynamics technical and functional solutions for competitive cost.
            </p>

            <h2>MOSERP services on Microsoft Dynamics Platform</h2>
                <ul>
                    <li>Pre-Implementation consulting</li>
                    <li>End to End Implementation</li>
                    <li>Post Implementation- Support 24/7</li>
                    <li>Upgrade</li>
                </ul>

            <h2>Support Engagement</h2>

                <ul>
                    <li>On-Site Support</li>
                    <li>Remote Support</li>
                    <li>Both Remote and Onsite Support</li>
                </ul>
</div>