
<br>
<br>

<h2 style="text-align: center;">Contact Us</h2>



<div class="table">
    <!-- <table>
        
        <tr>
            
            <td>
                 -->
                    <div class="form">
                        <form >
                            <h4>Any questions?
                                Send us a message
                            </h4>
                            <div class="form-group">
                            <label for="exampleFormControlInput1">Your Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Sam, Sankalp"
                                formControlName = "name">
                            <span>Please enter your name!</span>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1">Phone Number</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" >
                            </div>

                            <div class="form-group">
                            <label for="exampleFormControlInput1">Subject</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1">                  
                            </div>

                            
                            <div class="form-group">
                            <label for="exampleFormControlTextarea1">Query</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Your Query"></textarea>
                            </div>

                            <button class="btn btn-primary" type="submit">Send</button>
                        </form>       
                    </div>       
        
              <!-- </td>


    <td> -->
        <div class="infor">
                <h2>Connect with us</h2>
                <p>We are committed to your success. Please fill out the quick form and we will get back to you within 24 hrs!

                </p>

                <h3>For immediate support or enquiries:</h3>
                <p>
                    Oracle E-business Suite Services: oracle@moserptechnologies.com
                    <br>
                    SAP ERP Services: sap@moserptechnologies.com 
                    <br>
                    Microsoft Dynamics Services: microsoft@moserptechnologies.com
                    <br>
                    General Enquiry:info@moserptechnologies.com
                    <br>
                    Investment and Finance:finance@moserptechnologies.com
                </p>
                <h4>Contact Number:</h4>
                <p>
                    Landline: +91-80-41744658
                    <br>
                    Mobile : +91-8867918817, 9036058745, 9845120789  
                </p>
        </div>
    <!-- </td>
</tr>
</table>-->
</div> 
<div class="address">
                <!-- <table>
                    <tr>
                    <td> -->
                    <div class="regcor">
                        <div class="regoff">
                            <h2>REGISTERED OFFICE:</h2>
                            <p>No.113, 1st Main Road, 

                                Doctors Layout(Kasturi nagar),
                                
                                B.Channasandra, 
                                
                                Bangalore-560043
                            </p>
                            <br>
                            <br>
                            <br>
                            <div class="corpoff">
                                <h2>Corporate Office:</h2>
                                <p>
                                    # 1953, 2nd Floor, 9th Cross, 4th Main,
        
                                    HAL 3rd stage, New Thippasandra,
        
                                    Bengaluru-560075
                                    <br>
                                    Landline: +91-80-41744658
                                    <br>
                                    Mobile : +91-8867918817, 9036058745, 9845120789  
                                </p>
                            </div>
                        </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4395.218000928228!2d77.66350549511566!3d13.00231313164586!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1824fae4fb349810!2sMOSERP%20Technologies%20India%20Pvt.%20Ltd!5e0!3m2!1sen!2sin!4v1622706001549!5m2!1sen!2sin" width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>   
                        
                    <!-- </td>
                    <td> -->
                   
             

                
                    <!-- </td>
                </tr>
                </table>-->
    <div class="branches">
            <table>
                <tr>
                    <td> 
        
                        <h2>BRANCHES:</h2>
                        
                    </td>
                </tr>
            <div class="branches1">
                <tr>
                    <td>
                         
                        <!-- <div class="newd">
                        <h4>New Delhi Office</h4>
                        
                        <p>
                            E185,Sarita Vihar,New Delhi-110076
                        </p>
                        </div>   -->
                    </td>
                    <td class="newd"> 
                    
                        <h4>Dubai Office:</h4>
                        <p>
                            Office No 355 Al Shafar Investments Building,
                            Near Noor Bank Metro Station,
                            Sheikh Zayed Road
                            Dubai, UAE
                        </p>
                    
                </td>
                    
                    <td class="branches1">
                    
                            <h4>Mumbai Office:</h4>
                            <p>
                                D489-Kailas Industrial Complex,

                                Veer Savarkar Marg,Vikroli(W),

                                Mumbai-400079
                            </p>
                    
                    </td>

                    <!-- <td class="branches1">
                        <h4>New Delhi:</h4>
                        
                        <p>
                            E185, Sarita Vihar, New Delhi-110076
                        </p>
                    </td> -->

                    <td class="branches1">
                    
                            <h4>Hyderabad/Secundrabad Office:</h4>
                            <p>
                                261, 2nd Floor ,C T C Building,Park Lane,Secundrabad-500003
                            </p>
                        
                    </td>
             
                    <td class="branches1">
                       
                        <h4>Cochin Office:</h4>
                        <p>
                            Gladson center, 2nd Floor, NH bypass,

                            Edappally, Cochin-24. 
                            <br>  
                            Ph: 9846611665, 91-0484-4041665

                            Email : saji@moserptechnologies.com
                        </p>
                    
                </td>
                </tr>
            </div>
        </table>
    </div>
</div>