<div class="img">
    <h2>SAP BUSINESS Suite ERP</h2>
</div>  

<div class="explanation">
                <p>
                    MOSERP Technologies India Pvt. Ltd well Known in the market for its Expert SAP End to End ERP consulting services, 
                    we helped many organization right from choosing required functionalities from SAP Business Suite to streamline customer process 
                    and to improve the performance of the organization in many folds, Our SAP services benchmarked with operating cost reduction and 
                    improvement in service and production output of the organization.

                    MOSERP Technologies India Pvt. Ltd without hesitation claiming we have lean SAP team consist of few highly seasoned SAP functional 
                    and technical experience consultants, and these consultants proved themselves in each assignment to increase the organization 
                    profit by reducing operating cost of the company, and all these benefits are offered on competitive price.
                </p>

                <h2> MOSERP services on SAP Business Suite Platform</h2>

                <ul>
                    <li>Pre-Implementation consulting</li>
                    <li>End to End Implementation</li>
                    <li>Post Implementation- Support 24/7</li>
                    <li>Upgrade</li>
                </ul>

                <h2>Support Engagement</h2>

                <ul>
                    <li>On-Site Support</li>
                    <li>Remote Support</li>
                    <li>Both Remote and Onsite Support</li>
                </ul>

</div>