<!-- <style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap');
  </style> -->
<div class="decoration"></div>
  <div class="leftintro">
    <h1 >
      <span class="notblur-first">Making Information Technology and innovation reachable to human benefit. </span> 
    </h1>
    <br>

    <h2>
    <span class="notblur">An industry leading IT solutions provider.  </span>  
    </h2>

  </div> 
 <br>
 
 <!-- showcase -->

  <div class="showcase">
    <div class="container-grid1">
      <h2>Oracle E-business Suite-ERP</h2>
      <p>
        CEO or Head of the Business unit after post implementation often feels 
        burden for selecting Oracle e- business suite End to End ERP for its maintenance cost, since most of the time they may not got costing details to manage the Oracle 
        e-business suite while taking decision to implement. And adding to this frequent user compliant .
      </p>
      <a [routerLink]="['/features']" ><button class="btn btn-dark"> Read More</button></a>   
    </div>

    <div class="container-grid2">
      <h2>Microsoft Dynamics – ERP</h2>
      <p>
        MOSERP Technologies India Pvt Ltd Practicing on Microsoft Technology Platform Since from 
        1999(Previously MS INFOCOMM) served more than hundred customers and 
        stepped service practices inline with Microsoft Technology business 
        application releases.
      </p>
      <a [routerLink]="['/features/microsoft']" ><button class="btn btn-dark"> Read More</button></a>
    </div>

    <div class="container-grid3">
      <h2>SAP Business Suite –ERP</h2>
      <p>
        MOSERP Technologies India Pvt Ltd (Previously MS INFOCOMM-1999) 
        Known for highly expertise skilled SAP Consultants, These 
        experienced consultants helped many customers in reducing 
        implementation cost and time duration, Our SAP Technology 
        platform services avaliable for competative cost and all the 
        24/7
      </p>
      <a [routerLink]="['/features/SAP']"><button class="btn btn-dark"> Read More</button></a> 
    </div>
  </div>

  <!-- endofshowcase -->

  <!-- Support services -->

  <div class="supportser">
    <div>
  
      <h3 style="text-align: center;">Support Services</h3>
  
        <p>Through years of experience MOSERP Technologies Pvt. Ltd has 
        fostered the model for Support and Maintenance services for Business
         Solutions with continues innovation and enhancement which are 
         specifically aims at delivering value to our customer. Maturity 
         of our support model is not only cost effective but also brings 
         in best practices, increase in productivity and flexibility within
          the existing system.
        </p>
              
        <div class="flex1">
          <div class="container4">
            <h4>With two types of Support Services:</h4>
                <ul>
                  <li>On – Premises</li>
                  <li>On – Cloud</li>
                </ul>
          </div>

          <div class="container5">
            <h4>Why MOSERP Technologies India Pvt.Ltd Support Services:</h4>
            
                <ul>
                  <li>To create a business and technical environment that will ensure maximum benefit from the investment in the software.</li>
                  <li>To develop an organization that will ensure that Continuous Improvement, based on Process Driven Change, will actually occur.</li>
                  <li>To enable company management to drive IT.</li>
                </ul>
          </div>
        </div>
 
            <h4>Features:</h4>
          
              <ul>
                <li>Building up Competence Centre</li>
                <li>End to end support services using a common resource pool</li>
                <li>Level based pricing model</li>
                <li>24X7 support</li>
                <li>High level of flexibility and scalability of services</li>
                <li>One-stop-shop for Application support, maintenance and Infrastructure Management</li>
              </ul>
          
          
    </div>
  </div>

<!-- Support service end -->