@media screen and (max-width:468px){
    .showcase{
        display:flex-box; 
        /* flex-direction:row; */
        justify-content: space-between;
        padding-left: 10px;
     }

    .leftintro{
      display: flex; 
      flex-direction: column;
      justify-content: left;
      /* flex-wrap:wrap-reverse;   */
      padding-left: 14px;
      padding-bottom: 200px;
      font-family: 'Poppins', sans-serif;;
      position:absolute;
      transform: translate( 0,-80%);
      width: 100%;
      height: 90%;
      text-align: left;
      color: #67b664;
      /* font-size: 50px; */
    }
    
    
    }
    

    /* For Laptop Screen */
    @media screen and (min-width: 768px){
         .leftintro{
            display:flex;        
            flex-direction: column;
            justify-content: space-between;  
            text-align: center;      
        }
        .leftintro{
              padding: 20px 800px 500px 200px;
              font-weight: bolder;
              font-family: 'Poppins', sans-serif;;
              position:absolute;
              transform: translate( 0%,-80%);
              width: 100%;
              height: 90%;
              text-align: left;
              /* color: #67b664; */
              color: rgb(225, 231, 141);

        }
        .showcase{
          display:flex; 
          flex-direction: row;   
          justify-content:flex-end;
          padding: 10px 15px;
          align-items: stretch;
          align-items: center;
}
      .container-grid2{
       width: 35%;
      }
      .container-grid1{
        width: 35%;
        padding-right: 10px;
      }
      .container-grid3{
        width: 35%;
      }
      }

    .decoration{
        /* background-image: url("../../assets/BgIMG1.jpg"); */
        height: 650px;
        width:100%;
        background-position:inherit;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        filter:blur(4px);
        opacity:0px;
      }

  .notblur-first{
    font-size: 40px;
  }
  
  .notblur{
    font-weight: bolder;
  }

  /* The styling for the parallax from code pen */
  
  /* middle heading styling */
  .mainHeading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  .heading2{
   font-size: 25px;
  }

  /* parllax styling */
  .parallax{
    background: url('https://images.pexels.com/photos/2609107/pexels-photo-2609107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-1{
    background: url('https://images.pexels.com/photos/1835712/pexels-photo-1835712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
    color: #67b664;
}
.parallax-2{
    background: url('https://images.pexels.com/photos/4275885/pexels-photo-4275885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat fixed 100%;
    background-size: cover;
    color: #67b664;
}
.parallax-inner{
    padding-top: 20%;
    padding-bottom: 20%;
}


